<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.ItRequirementFileMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.ItRequirementFile">
    <!--@mbg.generated-->
    <!--@Table ItRequirementFile-->
    <id column="ItRequirementFile_Auto" jdbcType="BIGINT" property="itRequirementFileAuto" />
    <result column="ITRequirement_Auto" jdbcType="BIGINT" property="iTRequirementAuto" />
    <result column="FileName" jdbcType="VARCHAR" property="fileName" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CUser" jdbcType="BIGINT" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cDT" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ItRequirementFile_Auto, ITRequirement_Auto, FileName, [Status], CUser, CDT
  </sql>
</mapper>
