<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.EmpBaseMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.EmpBase">
    <!--@mbg.generated-->
    <!--@Table EmpBase-->
    <id column="EmpBase_Auto" jdbcType="BIGINT" property="empBaseAuto" />
    <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
    <result column="Org_Auto" jdbcType="BIGINT" property="orgAuto" />
    <result column="OrgName" jdbcType="VARCHAR" property="orgName" />
    <result column="IncTitle_Auto" jdbcType="INTEGER" property="incTitleAuto" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="FName" jdbcType="VARCHAR" property="fName" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="IsOn" jdbcType="INTEGER" property="isOn" />
    <result column="Extension" jdbcType="VARCHAR" property="extension" />
    <result column="IsBoss" jdbcType="INTEGER" property="isBoss" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mDT" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="OrgGroup_Auto" jdbcType="BIGINT" property="orgGroupAuto" />
    <result column="OrgGroupName" jdbcType="VARCHAR" property="orgGroupName" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cDT" />
    <!--<result column="Roles_Auto" jdbcType="BIGINT" property="rolesAuto" />
    <result column="RoleName" jdbcType="VARCHAR" property="roleName" />-->
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    EmpBase_Auto, TradeItem_Auto, Org_Auto, OrgName, IncTitle_Auto, Title, FName, UserName,
    IsOn, Extension, IsBoss, MDT, MUser,OrgGroup_Auto,OrgGroupName,CDT<!--,Roles_Auto,RoleName-->
  </sql>

  <resultMap id="queryEmpListDto" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.EmpList">
    <result column="MobilePIN" jdbcType="VARCHAR" property="mobilePIN" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <collection property="roles" ofType="com.funtl.myshop.plus.provider.domain.EmpRoleName">
<!--      <result column="Roles_Auto" jdbcType="BIGINT" property="rolesAuto" />-->
      <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
    </collection>
  </resultMap>
  <!--    多表查询：一对多-->
  <select id="selectEmpListDto" resultMap="queryEmpListDto">
    SELECT
    eb.EmpBase_Auto,eb.UserName,eb.FName,
    eb.OrgName,tl.TitleName AS title,eb.IsOn,eb.MDT,
    eb.CDT,eb.IsBoss,eb.Org_Auto,
    eb.IncTitle_Auto,eb.OrgGroup_Auto,eb.OrgGroupName,
   <!-- ar.Roles_Auto,-->ar.RoleName,am.MobilePIN,am.Email
    FROM
    EmpBase AS eb
    LEFT JOIN aspnet_Users AS au ON eb.UserName = au.UserName
    LEFT JOIN aspnet_Membership AS am ON au.UserId = am.UserId
    LEFT JOIN Roles2Emp AS re ON eb.EmpBase_Auto = re.EmpBase_Auto
    LEFT JOIN aspnet_Roles AS ar ON re.Roles_Auto = ar.Roles_Auto
    LEFT JOIN IncTitle AS tl ON eb.IncTitle_Auto = tl.IncTitle_Auto
    WHERE
    1 = 1
    <if test="param.fName != null and param.fName != ''">
      AND eb.FName LIKE '%${param.fName}%'
    </if>
    <if test="param.orgName != null and param.orgName != ''">
      AND eb.OrgName = #{param.orgName}
    </if>
    AND eb.IsOn != 2
    ORDER BY eb.EmpBase_Auto DESC
  </select>

  <resultMap id="queryEmpAgent" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.EmpAgentList"/>
    <select id="selectEmpAgent" resultMap="queryEmpAgent">
      SELECT
      EmpBase_Auto, Org_Auto, OrgName, FName
      FROM
      EmpBase
      WHERE
      1 = 1
      <if test="empBaseAuto != null">
        AND EmpBase_Auto = #{empBaseAuto}
      </if>
    </select>
</mapper>
