<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.PerformanceMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.Performance">
    <!--@mbg.generated-->
    <!--@Table Performance-->
    <id column="Performance_Auto" jdbcType="BIGINT" property="performanceAuto" />
    <result column="Sales_Auto" jdbcType="BIGINT" property="salesAuto" />
    <result column="P_Year" jdbcType="INTEGER" property="pYear" />
    <result column="P_Month" jdbcType="INTEGER" property="pMonth" />
    <result column="P_Count" jdbcType="INTEGER" property="p_Count" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Performance_Auto, Sales_Auto, P_Year, P_Month, P_Count
  </sql>
  <resultMap id="queryByYM" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.ReportForms">
    <result column="salesAuto" jdbcType="BIGINT" property="salesAuto" />
    <result column="fName" jdbcType="VARCHAR" property="fName" />
    <result column="orgName" jdbcType="VARCHAR" property="orgName" />
    <result column="targetNum" jdbcType="INTEGER" property="targetNum" />
    <result column="realNum" jdbcType="INTEGER" property="realNum" />
    <result column="targetPaperNum" jdbcType="INTEGER" property="targetPaperNum" />
    <result column="proPaperNum" jdbcType="INTEGER" property="proPaperNum" />
    <result column="targetVolume" jdbcType="INTEGER" property="targetVolume" />
    <result column="realVolume" jdbcType="INTEGER" property="realVolume" />
  </resultMap>

    <select id="selectModeOne" resultMap="queryByYM">
      SELECT
      emp.DepName AS orgName,
      SUM(p.P_Count) AS targetNum,
      COUNT(o.YJOrg) AS realNum,
      (SUM(p.P_Count) * 3.33) AS targetPaperNum,
      COUNT(os.TradeItem_Auto) AS proPaperNum,
      (SUM(p.P_Count) * (SELECT Num FROM [ItemCode] WHERE ItemType = 10000 + #{year})) AS targetVolume,
      SUM(o.MAmt * o.MM) AS realVolume
      FROM
      [v_Emp] AS emp
      LEFT JOIN [Performance] AS p ON p.Sales_Auto = emp.User_Auto
      LEFT JOIN [Order] AS o ON p.Sales_Auto = o.Sales_Auto
      LEFT JOIN [Orders] AS os ON p.Sales_Auto = os.Sales_Auto
      WHERE
      1 = 1
      <if test="year != null and year != ''">
        AND p.P_Year = #{year}
      </if>
      <if test="month != null and month != ''">
        AND p.P_Month = #{month}
      </if>
      <if test="orgAuto != null">
        AND emp.UpUnit = #{orgAuto}
      </if>
      <!--AND os.OrderStatus = 20
      AND os.PostType = 4-->
      AND os.AppDate BETWEEN #{startDate} AND #{endDate}
      GROUP BY emp.DepName
    </select>
  <select id="selectModeZero" resultMap="queryByYM">
    SELECT
    emp.User_Auto AS salesAuto,emp.FName AS fName,
    SUM(p.P_Count) AS targetNum,
    COUNT(o.YJOrg) AS realNum,
    (SUM(p.P_Count) * 3.33) AS targetPaperNum,
    COUNT(os.TradeItem_Auto) AS proPaperNum,
    (SUM(p.P_Count) * (SELECT Num FROM [ItemCode] WHERE ItemType = 10000 + #{year})) AS targetVolume,
    SUM(o.MAmt * o.MM) AS realVolume
    FROM
    [v_Emp] AS emp
    LEFT JOIN [Performance] AS p ON p.Sales_Auto = emp.User_Auto
    LEFT JOIN [Order] AS o ON p.Sales_Auto = o.Sales_Auto
    LEFT JOIN [Orders] AS os ON p.Sales_Auto = os.Sales_Auto
    WHERE
    1 = 1
    <if test="year != null and year != ''">
      AND p.P_Year = #{year}
    </if>
    <if test="month != null and month != ''">
      AND p.P_Month = #{month}
    </if>
    <!--AND os.OrderStatus = 20
    AND os.PostType = 4-->
    AND os.AppDate BETWEEN #{startDate} AND #{endDate}
    GROUP BY emp.User_Auto,emp.FName
  </select>
  <select id="selectModeTwo" resultMap="queryByYM">
    SELECT
    emp.DepName AS orgName,
    SUM(p.P_Count) AS targetNum,
    COUNT(o.YJOrg) AS realNum,
    (SUM(p.P_Count) * 3.33) AS targetPaperNum,
    COUNT(os.TradeItem_Auto) AS proPaperNum,
    (SUM(p.P_Count) * (SELECT Num FROM [ItemCode] WHERE ItemType = 10000 + #{year})) AS targetVolume,
    SUM(o.MAmt * o.MM) AS realVolume
    FROM
    [v_Emp] AS emp
    LEFT JOIN [Performance] AS p ON p.Sales_Auto = emp.User_Auto
    LEFT JOIN [Order] AS o ON p.Sales_Auto = o.Sales_Auto
    LEFT JOIN [Orders] AS os ON p.Sales_Auto = os.Sales_Auto
    WHERE
    1 = 1
    <if test="year != null and year != ''">
      AND p.P_Year = #{year}
    </if>
    <if test="month != null and month != ''">
      AND p.P_Month = #{month}
    </if>
    <if test="userAuto != null">
      AND p.Sales_Auto = #{userAuto}
    </if>
    <!--AND os.OrderStatus = 20
    AND os.PostType = 4-->
    AND os.AppDate BETWEEN #{startDate} AND #{endDate}
    GROUP BY emp.DepName
  </select>
</mapper>
